In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
couriers = pd.read_csv('C:/Users/79196/Projects/data/experiment_lesson_4.csv')
couriers

       order_id  delivery_time  district experiment_group
0          3159           44.0  Purlieus          control
1         10426           51.0  Purlieus          control
2          9155           46.0  Purlieus          control
3         10699           34.0  Purlieus          control
4         10061           43.0  Purlieus          control
...         ...            ...       ...              ...
20191     14561           42.0    Suburb             test
20192     12015           32.0    Suburb             test
20193     20077           23.0  Purlieus             test
20194     14861           41.0   Central             test
20195     13501           41.0   Central             test

[20196 rows x 4 columns]

In [6]:
couriers.groupby('experiment_group').agg({'order_id':'count'})

                  order_id
experiment_group
control              10092
test                 10104

In [41]:
sample_couriers_control = couriers[couriers['experiment_group'] == 'control']['delivery_time'].sample(1000, random_state=17)
sample_couriers_control

7144    42.0
6231    42.0
6902    41.0
7032    54.0
2009    44.0
        ...
752     54.0
3754    63.0
5420    64.0
8119    49.0
4804    45.0
Name: delivery_time, Length: 1000, dtype: float64

In [42]:
sample_couriers_test = couriers[couriers['experiment_group'] == 'test']['delivery_time'].sample(1000, random_state=17)
sample_couriers_test

17877    37.0
18499    39.0
16476    48.0
14602    30.0
16719    25.0
         ...
12410    40.0
18882    47.0
15944    47.0
14618    41.0
18816    36.0
Name: delivery_time, Length: 1000, dtype: float64

In [32]:
couriers.query('experiment_group == "control"').delivery_time.reset_index().std()

index            2913.453792
delivery_time       9.990017
dtype: float64

In [33]:
couriers.query('experiment_group == "test"').delivery_time.reset_index().std()

index            2916.917894
delivery_time       9.883308
dtype: float64

In [43]:
stats.shapiro(sample_couriers_control)

ShapiroResult(statistic=0.9974724054336548, pvalue=0.12408281117677689)

In [44]:
stats.shapiro(sample_couriers_test)

ShapiroResult(statistic=0.9975473880767822, pvalue=0.14001426100730896)

In [46]:
stats.ttest_ind(couriers.query('experiment_group == "test"').delivery_time, couriers.query('experiment_group == "control"').delivery_time)

Ttest_indResult(statistic=-43.03582663183714, pvalue=0.0)

In [49]:
a_mean = couriers.query('experiment_group == "test"').delivery_time.mean()
a_mean

39.04681314330958

In [50]:
b_mean = couriers.query('experiment_group == "control"').delivery_time.mean()
b_mean

45.065101070154576

In [52]:
a_mean*100 / b_mean - 100

-13.354653121660817